.fullnode {
//	background: white;
//	border-radius: 3px;
//
//	margin: 1em;
//	box-shadow: 0 1px 2px 1px rgba(150,150,150,.1);
//	overflow: hidden;
//	//border-bottom: 10px solid rgb(230,230,230);
  a {
    color: $grey;
    text-decoration: underline;
  }
}

.fullnode__intro {
  //font-size: 1.1em;
  padding: 0.5em 0.5em 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $white-dark;
  

	

	& h1 + h2,
    & a > h2 {
		margin-top: -0.5em;
	}
	ul {
		list-style: square;
	}
	li {
		margin-left: 1em;
	}
}
.fullnode__img {
  img {
    width: 100%;
    height: auto;
  }
}

.fullnode__img--gallery {
  a:first-of-type {
    img {
      width: 100%;
      height: auto;
    }
  }
}
.fullnode__img--centred {
  text-align: center;
}
.fullnode__profileimg {
  text-align: center;

  img {
    border-radius: 50%;
  }
}


.fullnode__title {
  text-align: center;
}
.fullnode__description {
  padding-bottom: 3em;
  
  p {
    font-size: 1.2em;
    font-weight: 300;
   

    @include breakpoint(golidlocks) {
      font-size: 1.4em;
    }
  }
}

.fullnode__keywords {
  
  a {
    margin-right: 3px;
    display: inline-block;
  }
}

