/* header masthead */
.header {
  background: $corporate;

  > nav {
    border-bottom: 3px solid $grey;
    border-bottom-color: rgba($grey, 0.2);
    background: $corporate;
    background: rgba($corporate, 0.9);

    @include clearfix-micro();
  }
  
  .admin-menu & {
    margin-top: 30px;
  }
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}




.mainmenu {
}

.mainmenu__list {
 a {
   padding: 0.5em;
   margin: 0.5em;
   color: white;
   display: inline-block;
   border-radius: 3px;

   &:hover {
     background: $grey;
     text-decoration: none;

   }
 }
}
