/* header masthead */
.header {
  background: $corporate;

  > nav {
    border-bottom: 3px solid $grey;
    border-bottom-color: rgba($grey, 0.2);
    background: $corporate;
    background: rgba($corporate, 0.9);

    @include clearfix-micro();
  }
  
  .admin-menu & {
    margin-top: 30px;
  }

  .uiwebview & {
    display: none;
  }
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}




.mainmenu {
  @include breakpoint(baby-bear) {
    float: right;
  }
}

.mainmenu__list {
 a {
   padding: 0.5em;
   margin: 1em 0.5em;
   color: white;
   display: inline-block;
   border-radius: 3px;
   font-size: 0.8em;

   @include breakpoint(goldilocks) {
     font-size: 1em;
   }

   &:hover {
     background: $grey;
     text-decoration: none;


   }
 }
}
