/*
 * @file
 * custom.css
 *
 *Drupal Commons Origins theme overrides
 */


h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey;
  line-height: 1.3em;
  clear: both;
  margin: 1.5em 0 0.5em;
}


h1 {
  font-size: 1.84em;
  margin-top: 0.5em;

  a {
  	color: $grey;
  }
}

h2 {
  font-size: 1.64em;
  font-weight: 300;
}
h3 {
  font-size: 1.45em;
 }

h4 {
  font-size: 1.18em;
 }

h5 {
  font-size: 1em;
 }

h6 {
  font-size: 1em;
 }

 hr {
 	border: 0;
 	border-bottom: 1px solid $grey-light;
 	padding: 1em 0;
 	clear: both;
 	@include clearfix-micro();
 }

h1,
.comments-title,
.comment-title,
.pane-title,
.partial-node-form-title,
.wrapper__nav h3,
.node-answer-form h3,
.title--alt,
.block__title,
.teasernode__title {
  font-family: 'BrandonTextWeb-Bold', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-family: 'BrandonTextWeb-Bold', sans-serif;
  font-weight: 400;
}

.grey {
	color: rgb(150,150,150);
}

/* ====== media ====== */
.media {}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 1em;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 1em;}

.minipro {
	font-size: 90%;

	.img {
		max-width: 45px;
	}
}


.bd .fieldset-outer-wrapper:first-of-type {
	margin-top: 0;
}



.wampad {
	padding: 1em;
}

.image-style-wam-banner {
	min-height: 100px;
}


.page-user .pane-user-picture .user-picture,
.user-picture, 
.views-field-picture, 
.profile-badge-picture {
	border-radius: 50%;
	box-shadow: none;

	img {
		border-radius: 50%;
	}
}
.image-style-35x35 {
	border-radius: 50%;
}

// .user-picture-available .user-picture,
// .user-picture-available {
// 	padding: 0;
// }

.container {
	width: auto;
}

.block {
	margin-bottom: 0;
}


#columns,
#page-top,
#footer {
	margin: 0;
}
	

.wrapper {
	
}
.wrapper__nav {

	.title--alt {
		font-size: 1.1em;
	}

	.block-menu {
		h3 {
			color: white;
			padding: 1em 0.8em 0;
		}
	}
	.menu {
    list-style: none;
    padding-left: 0;
    margin-top: 0.3em;

    .menu {
    	border-bottom: 0;
    	margin: 0;
    }

    li {
    	list-style: none;
    	margin: 0;

    	&.is-leaf {
    		list-style: none;
    	}
    }
    a {
    	color: #fff;
	    text-shadow: none;
	    padding: .66667em 1em;
	    display: block;
	    border-bottom: 1px solid #505050;
		}

		ul {

  		ul {
    		background-color: rgba(0,0,0,0.2);
    	}

		}

  }
}


.wrapper__inset {
	background: #f0f0f0 url(../images/escheresque.png) 0 0 repeat;
  background-attachment: fixed;

  @include clearfix-micro();
}

.wrapper__top {
	line-height: 0;
}
.wrapper__main {
	background: rgb(240,240,240);
}
.wrapper__side {
	//padding: 2em;
	font-size: 90%;

	.panel-pane {
		padding: 2em;
	}
}
.padbox {
	padding: 1em;
}


.banner {
	position: relative;

	
}
.banner__title {
	position: absolute;
	bottom: 10px;
	left: 10px;
	margin: 0;
	color: white;
	background: black;
	background: rgba(0,0,0,0.7);
	padding: 0.1em 0.3em;

	a {
		color: inherit;
	}
}
.banner__logo {
	img {
		background: black;
		background: rgba(0,0,0,0.7);
		position: absolute;
		bottom: 10px;
		left: 10px;
		height: 70%;
		width: auto;

		@include breakpoint(mama-bear) {
			height: 50%;
		}
	}
}





.section--callout {
	background: $black;
	padding: 1em 3em 3em;
	margin: 0 -1em;
	color: white;

	@include clearfix-micro();

	a,
	h2,
	h3,
	h4 {
		color: inherit;
	}
}
.cke_panel_block,
.cke_panel_frame {
	background:white;
}


.rate-button {
	color: $black;
	opacity: 0.6;

	&:hover {
		opacity: 1;
	} 
}
.rate-voted {
	opacity: 1;
}


.main {
  background: white;
  //text-align: center;
  border-bottom: 1px solid rgb(200,200,200);
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
  padding: 0;
  
  //max-width: 90em;
  margin: 0 auto;
  font-size: 0.8em;
  
  @include breakpoint(baby-bear) {
    font-size: 1em;
  }
  
  img {
    @include max-image();
  }
}

.block__title {
  text-align: center;
}


.view-manage-journal {
	caption {
	font-size:2rem;
	margin-top:2rem;
	}
}

