.quicktabs-tabs .ajax-progress {
  display: none;
}
.quicktabs-loading .quicktabs_main {
  height: 100px;
  margin-top: 20px;
  background: url(../images/spinner/712.gif) 50% 50% no-repeat;
}

.quicktabs-tabs.quicktabs-style-nostyle {
  text-align: center;
  display: block;
  background: $black;
  padding: 0;

  a {
    color: white;
    background: $black;
    padding: 0.5em;
    margin: 0.5em;
    color: white;
    display: inline-block;
    border-radius: 3px;
  }
  li.active a {
    background: $grey;
  }
}

