////_sidenav.scss
//
//
//.sidenav {
//	position: relative;
//}
//
//.sidenav__nav {
//	width: 13em;
//	position: absolute;
//	top: 0;
//	left: -10em;
//	bottom: 0;
//	background: #3c3c3c url(../images/grippper.png) 100% 0 no-repeat;
//	padding-right: 3em;
//	z-index: 99;	
//	display: block;
//	transition: all 0.3s ease-out;
//
//}
//
//.sidenav__nav--active {
//	left: 0;
//}
//
//
//.sidenav__inset {
//	padding-left: 3em;
//}
.sidebars {
  background: $grey;
}
.sidebar {
  background: $grey;
  padding: 1em;
  color: white;
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: inherit;
  }
    
}
.facetapi-facetapi-links {
  font-size: 0.9em;
}
.facetapi-facetapi-links {
  li {
    display: block;
    padding: 0.5em;
    border: 1px solid darken($grey, 2%);
    background: lighten($grey, 2%);
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: clip;
  }
}
.facetapi-active {
  margin: -0.5em -0.5em -0.5em 0.5em;
  border: 1px solid darken($grey, 5%);
  background: darken($grey, 5%);
  padding: 0.5em 1em;
  display: block;
  float: right;
}


.facetapi-limit-link {
  margin: 1em 0 0;
  padding: 0.5em;
  border: 1px solid darken($grey, 5%);
  background: darken($grey, 5%);
  display: inline-block;
  font-size: 0.9em;
}

.facetapi-slider {
  margin: 1em;
}
.ui-slider-range {
  background: $perth;
}
.facetapi-slider-min,
.facetapi-slider-max {
  padding: 0.3em;
  background: darken($grey, 5%);
  border-radius: 3px;
}
.element-invisible {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.rwdmenubutton {
  padding: 0.5em 1em;
  margin: 2em 0 0;
//  float: none;
  text-align: center;
//  width: auto;
  
  &:last-of-type {
    padding-right: 1em;
  }
  
  .sidebars & {
    color: white;
    float: right;
    background: darken($grey, 5%);
    border-radius: 3px;
    margin: 1em 1em 0 0;
    width: auto;
  }
}
