.teasernode {
	background: white;
	border-radius: 3px;

	margin: 1em;
	box-shadow: 0 1px 2px 1px rgba(150,150,150,.1);
	overflow: hidden;
	//border-bottom: 10px solid rgb(230,230,230);
}

.teasernode__intro {
	//font-size: 1.1em;
	padding: 0.5em 0.5em 1em;

	a {
		color: $grey;
		text-decoration: underline;
	}

	& > h1,
	& a > h2 {
		margin-top: 0;
	}
	ul {
		list-style: square;
	}
	li {
		margin-left: 1em;
	}
}
.teasernode__img {
  img {
    width: 100%;
    height: auto;
  }
  img,
  a {
    border: 0 !important;
  }
}

.teasernode__title {
  font-size: 1em;
  font-weight: 600;
  margin-top: 0;
}
.teasernode__description {
  font-size: 1em;

}

.teasernode__keywords {
  font-size: 0.9em;
  color: $grey;
  border-top: 1px solid $white-dark;
  padding-top: 0.5em;
  
  a {
    margin-right: 3px;
    display: inline-block;
  }
}

.teasernode__pinner {
  padding: 0.5em 0.5em 1em;
  border-top: 1px solid $white-dark;

  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
  }
}
.teasernode__author {
  margin: 3px 0 0 50px;

  a {
    color: $grey;
  }
  span {
    color: $grey-light;
    display: block;
    font-weight: 700;
    font-size: 80%;
    text-transform: uppercase;
  }
}
