.wamnode {
	background: white;
	border-radius: 3px;

	margin: 1em;
	box-shadow: 0 1px 2px 1px rgba(150,150,150,.1);
	overflow: hidden;
	//border-bottom: 10px solid rgb(230,230,230);
}

.wamnode__intro {
	//font-size: 1.1em;
	padding: 0.5em 0.5em 1em;

	a {
		color: $grey;
		text-decoration: underline;
	}

	& > h1,
	& a > h2 {
		margin-top: 0;
	}
	ul {
		list-style: square;
	}
	li {
		margin-left: 1em;
	}
}
.wamnode__img {
  img {
    width: 100%;
    height: auto;
  }
}

.wamnode__title {
  font-size: 1em;
  font-weight: 600;
  margin-top: 0;
}
.wamnode__description {
  font-size: 1em;

}

.wamnode__keywords {
  font-size: 0.9em;
  color: $grey;
  border-top: 1px solid $white-dark;
  padding-top: 0.5em;
  
  a {
    margin-right: 3px;
    display: inline-block;
  }
}
