.header {
  display: none;
}

.collections-footer {
	float: left;
    width: 100%;
    background: black;
    margin-top: 5rem;
    text-align: center;
    color: white;
}

.collections-footer a {
	color:white;
}